<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <!-- Add Bootstrap CSS link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container mt-5">
        {% if messages %}
        <div class="alert alert-dismissible fade show" role="alert">
            {% for message in messages %}
            <p{% if message.tags %} class="alert {{ message.tags }}" {% endif %}>{{ message }}</p>
                {% endfor %}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        <center>
            <div class="auto_login">
                <form action="{% url 'auto_login' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Auto Login</button>
                </form>
            </div>
            <div class="manul_login">
                <form action="{% url 'manual_login' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Manual Login</button>
                </form>
            </div>
        </center>
    </div>
    <a href="/change_credentials">Change Username and Password</a>
</body>
<!-- Add Bootstrap JS and Popper.js links -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
    integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
    crossorigin="anonymous"></script>

</html>